
.app-footer {
  background-color: rgba(51, 51, 51, 0.9);
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navigation {
display: flex;
padding: 10px;
background: rgba(232, 14, 14, 0.8);
align-items: center;
}

.navigation li {
list-style: none;
color: wheat;
padding: 5px;
text-transform: uppercase;
}